[submodule "packages/sdk/lib/ds-test"]
	path = packages/sdk/lib/ds-test
	url = git@github.com:dapphub/ds-test
[submodule "packages/sdk/lib/contracts"]
	path = packages/sdk/lib/contracts
	url = git@github.com:ionicprotocol/contracts.git
	branch = development
