.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*
node_modules*
!/packages/bots/liquidator/.env
/.idea/
.vscode

_tmp
build
dist*
coverage
*.tsBuildInfo

.DS_Store
packages/sdk/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output

**/.terraform/**
**/.terraform.lock.hcl
ops/**/tfvars.json
**/.env

# Local Netlify folder
.netlify
cypress

ionic-monorepo.iml

.vscode
