[[plugins]]
package = "@netlify/plugin-nextjs"

[[redirects]]
from = "https://linea.development.ionic.money"
to = "https://development.ionic.money/59144/pool/1"
status = 200

[[redirects]]
from = "https://linea.development.ionic.money/horizon-dex"
to = "https://development.ionic.money/59144/pool/0"
status = 200

[build]
base = "./"
publish = "./packages/ui/.next"
command = "yarn build:deploy:ui"

[build.environment]
YARN_CHECKSUM_BEHAVIOR = "update"
SUPABASE_URL = "https://bdysvcltrzmhnvzfciue.supabase.co"
ICON_SERVER = "https://d1912tcoux65lj.cloudfront.net"
PRODUCT_URL = 'https://app.midascapital.xyz'
FEATURE_CREATE_POOL = "0x2680D8f1ED3BEe1c731cFeedcDa2A74bB7317828,0x7dB8d33114462e032E5bf636D271f8680619Ba25,0xb6c11605e971ab46B9BE4fDC48C9650A257075db,0x9308dddeC9B5cCd8a2685A46E913C892FE31C826"
FEATURE_DEPLOY_FLYWHEEL = "false"

[context.preview.environment]
NEXT_PUBLIC_SHOW_TESTNETS = "true"
BSC = "false"
POLYGON = "true"
ARBITRUM = "true"
FANTOM = "true"
ETHEREUM = "false"
ZKEVM = "true"
LINEA = "true"
NEON = "true"
IS_SENTRY_ENABLED = "false"
IS_PRODUCTION = "false"

[context.development.environment]
NEXT_PUBLIC_SHOW_TESTNETS = "true"
BSC = "false"
POLYGON = "true"
ARBITRUM = "true"
ETHEREUM = "false"
ZKEVM = "true"
LINEA = "true"
NEON = "true"
IS_SENTRY_ENABLED = "false"
IS_PRODUCTION = "false"

[context.production.environment]
NEXT_PUBLIC_SHOW_TESTNETS = "false"
BSC = "false"
POLYGON = "true"
ARBITRUM = "true"
ETHEREUM = "false"
ZKEVM = "true"
LINEA = "true"
NEON = "true"
IS_SENTRY_ENABLED = "true"
IS_PRODUCTION = "true"

[functions]
directory = "./packages/functions/dist/functions/src/functions"
node_bundler = "esbuild"

[functions."plugin-rewards-*"]
schedule = "@hourly"

[functions."asset-apys-*"]
schedule = "@hourly"

[functions."vault-data-*"]
schedule = "@hourly"

[functions."asset-price-*"]
schedule = "@hourly"

[functions."asset-tvl-*"]
schedule = "@hourly"

[functions."asset-total-apy-*"]
schedule = "@hourly"
