@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gasbot-primary: #38fe89;
}

.popover-hint {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: -1px;
  vertical-align: middle;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 8px;
  line-height: 8px;
  font-style: normal;
  text-align: center;
}

@layer utilities {
  .grid-cols-21 {
    grid-template-columns: repeat(21, minmax(0, 1fr));
  }
  .grid-cols-19 {
    grid-template-columns: repeat(19, minmax(0, 1fr));
  }
  .grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }
  .grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
  .grid-cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .amount-field {
    color: #fff;
  }
  .amount-field::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(255 255 255 / 0.5);
    opacity: 1;
  }
  .amount-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(255 255 255 / 0.5);
    opacity: 1;
  }
  .amount-field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field::placeholder {
    /* Most modern browsers support this now. */
    color: rgb(255 255 255 / 0.5);
  }
}

.bg-lime {
  background: #dffe00;
}

.text-lime {
  color: #dffe00;
}

.border-lime {
  border-color: #dffe00;
}

.text-xxs {
  font-size: 0.6rem;
  line-height: 0.75rem;
}

.btn-green {
  @apply font-bold rounded-md px-3 py-1 text-center transition-colors bg-accent text-darkone;
}
.btn-green[disabled] {
  @apply bg-stone-500;
}

.popover-container {
  @apply relative;
}
.popover-container .popover {
  transform-origin: 50% 0;
}
.popover-container:hover .popover {
  @apply opacity-100 visible;
}

.nav {
  transform: rotateX(90deg);
  transform-origin: 50% 0;
}

.nav.nav-opened {
  transform: rotateX(0deg);
}

@media only screen and (min-width: 768px) {
  .nav {
    transform: none;
  }
}

.nav-btn {
  position: relative;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background: #fff;
  transition: background 0.3s;
}

.nav-btn.nav-opened {
  background: transparent;
}
.nav-btn.nav-opened:before {
  bottom: 0;
  margin: 0;
  transform: rotate(45deg);
}
.nav-btn.nav-opened:after {
  top: 0;
  margin: 0;
  transform: rotate(-45deg);
}

.nav-btn:before {
  bottom: 100%;
  margin-bottom: 3px;
}
.nav-btn:after {
  top: 100%;
  margin-top: 3px;
}

.nav-btn:before,
.nav-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 2px;
  background: #fff;
  transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  html {
    color-scheme: dark;
  }
}

.success-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: #3bff89ff;
}
.success-icon:before {
  width: 6px;
  height: 2px;
  top: 7px;
  left: 5px;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.success-icon:after {
  width: 12px;
  height: 2px;
  top: 5px;
  right: 4px;
  transform-origin: 100% 0;
  transform: rotate(-45deg);
}

.success-icon:before,
.success-icon:after {
  content: '';
  position: absolute;
  border-radius: 2px;
  background: #fff;
}

.error-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: #df1515;
}
.error-icon:before {
  transform: rotate(45deg);
}
.error-icon:after {
  transform: rotate(-45deg);
}

.error-icon:before,
.error-icon:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -6px;
  border-radius: 2px;
  background: #fff;
}

.toggle {
  display: block;
  width: 40px;
  flex: 0 0 40px;
  height: 20px;
  padding: 2px;
  border-radius: 20px;
  box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.15s;
  cursor: pointer;
}
.toggle.is-on {
  background: #3bff89ff;
}
.toggle.is-on:before {
  transform: translateX(20px);
}
.toggle:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #fff;
  transition: transform 0.15s;
}

.text-error {
  color: #df1515;
}

.connect-button button {
  text-transform: uppercase;
}

.animate-fade-in {
  opacity: 0;
}
.animate-fade-in.animated {
  opacity: 1;
}

.animate-pop-in {
  transform: scale(0.8);
  opacity: 0;
}
.animate-pop-in.animated {
  transform: scale(1);
  opacity: 1;
}

.bg-health-ratio-gradient {
  background: linear-gradient(
    90deg,
    #ff3864 8.12%,
    #f1f996 60.25%,
    #39ff88 98.45%
  );
}

.shadow-health-ratio-handle {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.hint-text {
  @apply text-xs text-white/50;
}

.hint-text-uppercase {
  @apply hint-text uppercase;
}

.separator {
  @apply w-full h-[1px] bg-white/30 mx-auto my-3;
}

.separator-vertical {
  @apply w-[1px] bg-white/30 mx-auto my-1 self-stretch;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
