@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .grid-cols-21 {
    grid-template-columns: repeat(21, minmax(0, 1fr));
  }
  .grid-cols-19 {
    grid-template-columns: repeat(19, minmax(0, 1fr));
  }
  .grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .amount-field {
    color: #fff;
  }
  .amount-field::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(255 255 255 / 0.5);
    opacity: 1;
  }
  .amount-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(255 255 255 / 0.5);
    opacity: 1;
  }
  .amount-field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(255 255 255 / 0.5);
  }
  .amount-field::placeholder {
    /* Most modern browsers support this now. */
    color: rgb(255 255 255 / 0.5);
  }
}

.bg-lime {
  background: #dffe00;
}

.text-xxs {
  font-size: 0.6rem;
  line-height: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  html {
    color-scheme: dark;
  }
}

.success-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: #3bff89ff;
}
.success-icon:before {
  width: 6px;
  height: 2px;
  top: 7px;
  left: 5px;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.success-icon:after {
  width: 12px;
  height: 2px;
  top: 5px;
  right: 4px;
  transform-origin: 100% 0;
  transform: rotate(-45deg);
}

.success-icon:before,
.success-icon:after {
  content: '';
  position: absolute;
  border-radius: 2px;
  background: #fff;
}

.error-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: #e10000;
}
.error-icon:before {
  transform: rotate(45deg);
}
.error-icon:after {
  transform: rotate(-45deg);
}

.error-icon:before,
.error-icon:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -6px;
  border-radius: 2px;
  background: #fff;
}

.toggle {
  display: block;
  width: 40px;
  flex: 0 0 40px;
  height: 20px;
  padding: 2px;
  border-radius: 20px;
  box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.15s;
  cursor: pointer;
}
.toggle.is-on {
  background: #3bff89ff;
}
.toggle.is-on:before {
  transform: translateX(20px);
}
.toggle:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #fff;
  transition: transform 0.15s;
}

.text-error {
  color: #e10000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
