name: Types/Push - Publish

on:
  push:
    branches:
      - main
      - development
    paths:
      - 'packages/types/**'
      - '.github/workflows/package-types-push-publish.yml'
      - 'yarn.lock'
  pull_request:
    branches:
      - main
      - development
    paths:
      - 'packages/types/**'
      - '.github/workflows/package-types-push-publish.yml'
      - 'yarn.lock'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
      - name: Initialize
        run: git submodule update --init --recursive
      - name: update
        run: git submodule update --remote --merge   

      - uses: actions/setup-node@v2
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install `packages`
        run: yarn install
        env:
          YARN_CHECKSUM_BEHAVIOR: update

      - name: Build `types`
        run: yarn build:types

      - name: Lint `types`
        run: yarn workspace @ionicprotocol/types lint

      - uses: JS-DevTools/npm-publish@v1
        if: github.ref == 'refs/heads/main'
        with:
          token: ${{ secrets.NPM_TOKEN }}
          tag: ${{env.GITHUB_REF_NAME == 'main' && 'latest' || 'beta'}}
          access: 'public'
          package: './packages/types/package.json'
